<h1 class="my-3 text-center">Liste des tâches</h1>

<app-todo-form></app-todo-form>

<ul class="list-group my-3">
  <li
    #liTag
    (click)="selectTodo(todo)"
    (mouseenter)="liTag.classList.add('focused')"
    (mouseout)="liTag.classList.remove('focused')"
    [class.done]="todo.done"
    *ngFor="let todo of todos$ |async"
    class="list-group-item d-flex justify-content-between">
      <span (click)="toggleStateTodo(todo)">{{ todo.text }}</span>
      <div class="buttons">
        <button class="btn btn-sm btn-danger mx-3" (click)="deleteTodo(todo.id)">Supr</button>
        <button class="btn btn-sm btn-succes" (click)="editTodo(todo)">Modif</button>
      </div>
  </li>
</ul>
<hr>
<app-todo-details [todo]="selected"></app-todo-details>
