<div *ngIf="!todo" class="alert alert-danger text-center">
  <h3>Sélectionnez une tâche!</h3>
</div>

<div *ngIf="todo" class="card text-center">
  <div class="card-body">
    <div class="card-title">
      <h3>{{ todo.text }}</h3>
    </div>
    <p class="card-text">
      <strong class="p-3">Etat: {{ todo.done? 'FAIT' : 'PAS FAIT' }}</strong>
      <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo.id)">Supprimer</button>
      <!-- <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo.id, $event)">Supprimer</button> pour stopper la propagation-->
    </p>
  </div>
</div>
